body {
  margin: 0 auto;
  font-size: 18px;
  background-color: rgb(0, 0, 0);
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  font-family: Impact;
  padding: 15px;
  height: 5vw;
  font-size: x-large;
  background-color: rgb(21, 21, 21);
}

a {
  color: #f1c40f;
  margin: 2vw;
  text-decoration: none;
}

a:hover {
  color: #f17c0f;
  margin: 2vw;
  text-decoration: underline;
  transition: 500ms;
}
